.container-style {
    background-color: #E6D1C0;
    border-radius: 10px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

}

div .bowling-text{
    color: #591914;
    text-decoration: none;
    font-family: 'Saira Condensed';
    font-weight: 700;
    word-wrap: break-word;
}


div .logo img{
    height: 70%;
    width: 70%;
}

.menu-link-text{  left: 408px;
    color: rgba(153, 86, 62, 1);
    text-decoration: none;
font-size: 20px;}

a{ color: #591914;
    text-decoration: none;
font-size: 40px;}

div .nav-link.active {
    border-radius: 10px;
    background-color:rgba(153, 86, 62, 0.5);
}
