

label {
    display: block;
    margin: 10px 0;
}

input[type="text"],
input[type="date"],
input[type="email"],
input[type="password"]{
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 90%;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 90px;

}
input[type="time"]
{
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="checkbox"] {
width: 45px;
}


div button {
    margin: 10px 0;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    background-color: #591914;
    color: #fff;
    cursor: pointer;
    text-align: center;
}
.google-img{
    height: 40px;
    width: 40px;
}
.error-message {
    color: red;
    margin-top: 10px;
}
.login-box{
    padding: 15px;
    background-color: #E6D1C0;
    border-radius:20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-bottom: 150px;
}


.auth-page{

    height: 100vh;
}

.text-login{
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 22px;
    color: #591914;
}

.form-group{
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 40px;
    margin-right: 40px;
}


.forgot-pass{
    text-align: center;
    margin-top:5px;
}

form{  margin-left: 8vh;
    margin-right: 8vh;}