
mainfrontend/node_modules/warning/warning.js
mainfrontend/node_modules/warning/README.md
mainfrontend/node_modules/warning/LICENSE.md
.idea/.idea.BowlingClub/.idea/projectSettingsUpdater.xml
.idea/.idea.BowlingClub/.idea/workspace.xml
mainfrontend/.idea/vcs.xml
mainfrontend/.idea/workspace.xml
.idea/
MainBackend/obj/
MainBackend/Migrations/
MainBackend/bin/
MainBackend/bin/Debug/net7.0/appsettings.Development.json
MainBackend/bin/Debug/net7.0/appsettings.json
MainBackend/bin/Debug/net7.0/Azure.Core.dll
MainBackend/appsettings.json
MainBackend/appsettings.json
MainBackend/bin/Debug/net7.0/Azure.Identity.dll
MainBackend/appsettings.json
MainBackend/bin/Debug/net7.0/Humanizer.dll
MainBackend/appsettings.json
MainBackend/appsettings.json
MainBackend/appsettings.json
MainBackend/appsettings.json
SuppliesBackend/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
SuppliesBackend/obj/Debug/net7.0/SuppliesBackend.AssemblyInfo.cs
SuppliesBackend/obj/Debug/net7.0/SuppliesBackend.csproj.AssemblyReference.cache
SuppliesBackend/obj/Debug/net7.0/SuppliesBackend.GlobalUsings.g.cs
SuppliesBackend/obj/rider.project.restore.info
SuppliesBackend/obj/SuppliesBackend.csproj.nuget.dgspec.json
SuppliesBackend/obj/SuppliesBackend.csproj.nuget.g.targets
SuppliesBackend/obj/SuppliesBackend.csproj.nuget.g.props
SuppliesBackend/obj/SuppliesBackend.csproj.nuget.dgspec.json
SuppliesBackend/obj/rider.project.restore.info
SuppliesBackend/obj/project.packagespec.json
SuppliesBackend/obj/project.nuget.cache
SuppliesBackend/obj/project.assets.json
SuppliesBackend/obj/Debug/net7.0/SuppliesBackend.GeneratedMSBuildEditorConfig.editorconfig
SuppliesBackend/obj/Debug/net7.0/SuppliesBackend.assets.cache
SuppliesBackend/obj/Debug/net7.0/SuppliesBackend.AssemblyInfoInputs.cache
SuppliesBackend/obj/SuppliesBackend.csproj.nuget.g.targets
MainBackend/appsettings.json
MainBackend/appsettings.json
