div .magazine-container{
    margin: 50px;

}

div button{
    margin: 5px;
}

div input{
    width: 40%;
    margin: 5px;
}

.invoice-client{
    text-transform: uppercase;
    margin-left: 10px;
    font-weight: bold;
}