table{
    /*width: 100%;*/
    border-collapse: collapse;
    overflow-x: scroll;
    font-family: "Inter-Regular", Helvetica;
    border: 1px solid;
    border-color: #818181;
}

.user-list {
    overflow-x: auto !important;
}

tr{
    color: #e4e4e4;
    text-align: center;
    text-transform: uppercase;
    background-color:#591914 ;
    border: 1px solid;
    border-color: #000000;
}

td{
    color: #591914;
    background-color:  #E6D1C0;
    border: 1px solid;
    border-color: #818181;
}