div .users-container{
    border-radius: 10px;
    overflow: hidden;
    margin: 50px;
}

div button{
    margin: 5px;
}


.table-name{
    font-weight: bold; /* pogrubienie tekstu */
    background-color: #E6D1C0; /* kolor tła */
    margin: 5px; /* marginesy - 5px */
    border-radius: 5px; /* zaokrąglenie rogów */
    padding: 5px; /* odstęp pomiędzy zawartością a granicami */
    border-color: #591914; /* kolor obramowania */
    border: 1px solid; /* grubość i rodzaj obramowania */
    width: 40%; /* szerokość względem strony */
    text-align: center; /* wyśrodkowanie tekstu */
}

