div .table-container {
    border-radius: 10px; /* zaokrąglenie rogów tabeli */
    overflow: hidden; /* generuje pasek jak się nie mieści na stronie */

}

table{
    width: 100%; /* szerokość wględem strony */
    border-collapse: collapse; /* brak odstępu między komórkami tabeli */
    font-family: "Inter-Regular", Helvetica, serif; /* typ i rodzaj czcionki */
    border: 1px solid; /* grubuość i rodzaj obramowania */
    border-color: #818181; /* kolor obramowania */
}

tr{ /* NAZWY KOLUMN */
    color: #e4e4e4; /* kolor czcionki */
    text-align: center; /* wyrodkowanie tekstu */
    text-transform: uppercase; /* ustawienie liter na wielkie */
    background-color:#591914 ; /* kolor tła */
    border-color: #000000; /* kolor obramowania */
}

td{ /* ZAWARTOŚĆ KOLUMN */
    color: #591914; /* kolor czcionki */
    background-color:  #E6D1C0; /* kolor tła */
    border-color: #818181; /* kolor obramowania */
}

.table-name{
    font-weight: bold;
    background-color: #E6D1C0;
    margin: 5px;
    border-radius: 5px;
    padding: 5px;
    border-color: #591914;
    border: 1px solid;
    width: 40%;
    text-align: center;

}