
body{
    
    margin-top: auto;
    background-size: cover;
    background-image: url('tło-test.png');
    background-repeat: no-repeat;
    background-attachment: fixed;

}
/* Dodaj białą ramkę */
.box-1 {

    padding: 20px; /* Dla lepszego wyglądu */
    background-color: rgba(230, 209, 192, 0.3); /* Przejrzyste białe tło */
    text-align: left; /* Wyśrodkowanie tekstu */
    border-radius: 10px; /* Zaokrąglenie rogów */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Cień */
    font-size: 16px; /* Rozmiar czcionki */
    color: #591914; /* Kolor tekstu */
    font-weight: bold;
}
.days{
    text-align: left;
    margin-left: 25px;
}
.hours{
    text-align: right;
    margin-left: 90px;
}
/* Opcjonalne dodatkowe stylizacje */
/*.box-1 p {*/
/*    margin: 5px;}*/

/*.full-height .row div {*/
/*    height: 100%;*/
/*}*/


.city-card {
    /* width: 300px;
    height: 230px;
    staraj się unikać definiowania na sztywno takich wartości, jeżeli chcesz aby strona była responsywna czyli skalowalna w zależności od szerokości ekranu
    */

    padding: 10px 0;
}

.time-baba {
    gap: 10px;
    width: 100%;
    max-height: 300px;
    min-width: 300px;
}

.baba-container {
    max-width: 50vw;
    min-width: 350px;
    flex-wrap: wrap;
    object-fit: cover;
}

.date-time {
    gap: 50px;
}

.date-time span {
    min-width: 100px;
}

.baba {
    /* niech obraz dopasuje się do szerokości naszej kolumny która będzie się zmieniać w zależności od szerokości ekranu */
    max-width: 100%;
    height: auto;
    max-height: 250px;
    border-radius: 18px;
    object-fit: cover;
}